{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="col-12  pX-40 pY-150 scrollable pos-r centerXY" style="min-width: 320px; background-color: #313131">
        <div class="pos-r p-20 mB-50 ">
            <img class="p-20 pos-a centerXY" style="height: 30vh" src="/static/assets/static/images/goldmmlogo.png"
                 alt="">
        </div>
        {% if msg %}
            <h4 class="fw-300 c-white-900 mB-40">{{ msg | safe }}</h4>
        {% else %}
        {% endif %}
        <form method="post" action="">

            {% csrf_token %}

            <div class="form-group col-md-4 centerX">
                <label class="text-normal text-white">Username</label>
                {{ form.username }}
            </div>

            <div class="form-group col-md-4 centerX">
                <label class="text-normal text-white">Password</label>
                {{ form.password }}
            </div>

            <div class="form-group col-md-4 centerX">
                <div class="peers ai-c jc-sb fxw-nw">
                    <div class="peer">
                        <button type="submit" name="login" class="btn btn-primary">Login</button>

                        &nbsp;
                        <span class="text-small font-weight-semibold">Not a member?</span>
                        <a href="{% url 'register' %}" class="text-blue text-small">Register</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>

{% endblock content %}
