{% extends "layouts/base.html" %}
{% block title %} Charts {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g=="
          crossorigin="anonymous"/>
    <style>
        .btn:hover {
            background-color: RoyalBlue;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="row gap-20 masonry pos-r">
        <div class="masonry-item col-md-12">
            <div class="p-20 mx-auto row" style="background-color: #313131;">
                <div class=" col-sm-5 d-inline-block">
                    <div class=" input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" id="fromdata" class="form-control datetimepicker-input"
                               data-target="#datetimepicker1">
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 d-inline-block">
                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                        <input type="text" id="todata" class="form-control datetimepicker-input"
                               data-target="#datetimepicker2">
                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="d-inline-block p-0 m-0">
                    <button type="button" class="btn btn-primary mb-1 mr-2" onclick="get_archive_data()"><i
                            class="fa fa-search"></i></button>
                    <button type="button" class="btn btn-primary mb-1 " onclick="refreshdata()"><i
                            class="fa fa-refresh"></i></button>
                    <button type="button" class="btn btn-secondary mb-1 mr-2" onclick="chart.destroy()">Destroy!!
                    </button>
                </div>
            </div>
        </div>
        <div class="masonry-sizer col-md-6 pos-a"></div>
        <div class="masonry-item col-md-6">
            <!-- TODO: -->
            <div class="p-20 bd" style="background-color: #313131;">
                <h6 class="" style="color: white;">APPD vs TP</h6>
                <div class="mT-30">
                    <canvas id="line-chart" height="220"></canvas>
                </div>
            </div>
        </div>

        <div class="masonry-item col-md-6">
            <div class="p-20 bd" style="background-color: #313131;">
                <h6 class="" style="color: white;">Input Source Voltage</h6>
                <div class="mT-30">
                    <canvas id="area-chart" height="220"></canvas>
                </div>
            </div>
        </div>
        <div class="masonry-item col-md-12">
            <div class="p-20 bd" style="background-color: #313131;">
                <h6 class="c-grey-900">Scatter Chart</h6>
                <div class="mT-30">
                    <canvas id="scatter-chart" height="100">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="masonry-item col-md-6">
            <div class="p-20 bd" style="background-color: #313131;">
                <h6 class="c-grey-900">Bar Chart</h6>
                <div class="mT-30">
                    <canvas id="bar-chart" height="220"></canvas>
                </div>
            </div>
        </div>
        <div class="masonry-item col-md-6">
            <div class="p-20 bd" style="background-color: #313131;">
                <h6 class="c-grey-900">jQuery Sparkline</h6>
                <div class="mT-30">
                    <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                        <div class="peer">
                            <span>Spark Line</span>
                        </div>
                        <div class="peer">
                            <span class="sparkline">&nbsp;</span>
                        </div>
                    </div>
                    <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                        <div class="peer">
                            <span>Spark Bar</span>
                        </div>
                        <div class="peer">
                            <span class="sparkbar">&nbsp;</span>
                        </div>
                    </div>
                    <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                        <div class="peer">
                            <span>Spark Tristate</span>
                        </div>
                        <div class="peer">
                            <span class="sparktri">&nbsp;</span>
                        </div>
                    </div>
                    <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                        <div class="peer">
                            <span>Spark Discrete</span>
                        </div>
                        <div class="peer">
                            <span class="sparkdisc">&nbsp;</span>
                        </div>
                    </div>
                    <div class="peers ai-c jc-sb fxw-nw bdB pY-15">
                        <div class="peer">
                            <span>Spark Bullet</span>
                        </div>
                        <div class="peer">
                            <span class="sparkbull">&nbsp;</span>
                        </div>
                    </div>
                    <div class="peers ai-c jc-sb fxw-nw pT-15">
                        <div class="peer">
                            <span>Spark Box</span>
                        </div>
                        <div class="peer">
                            <span class="sparkbox">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="masonry-item col-md-6">
            <div class="p-20 bd" style="background-color: #313131;">
                <h6 class="c-grey-900">Easy Pie Charts</h6>
                <div class="mT-30">
                    <div class="peers mT-20 fxw-nw@lg+ jc-sb ta-c gap-10">
                        <div class="peer">
                            <div class="easy-pie-chart" data-size="80" data-percent="75" data-bar-color="#f44336">
                                <span></span>
                            </div>
                            <h6 class="fsz-sm">New Users</h6>
                        </div>
                        <div class="peer">
                            <div class="easy-pie-chart" data-size="80" data-percent="50" data-bar-color="#2196f3">
                                <span></span>
                            </div>
                            <h6 class="fsz-sm">New Purchases</h6>
                        </div>
                        <div class="peer">
                            <div class="easy-pie-chart" data-size="80" data-percent="65" data-bar-color="#f44336">
                                <span></span>
                            </div>
                            <h6 class="fsz-sm">New Customers</h6>
                        </div>
                        <div class="peer">
                            <div class="easy-pie-chart" data-size="80" data-percent="90" data-bar-color="#ff9800">
                                <span></span>
                            </div>
                            <h6 class="fsz-sm">Bounce Rate</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    <script>
        var archive = false

        function refreshdata() {
            archive = false
            live()
            live1()
            start()

        }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@1"></script>
    <script>
        var ctx = document.getElementById('area-chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Vin',
                    borderWidth: 1.5,
                    //backgroundColor:"rgba(255,79,0,0.5)",
                    borderColor: "rgb(255,103,0)",
                    yAxisID: 'yaxis1',
                    data: [],
                    fill: "false",
                    pointStyle: 'line'
                },
                    {
                        label: 'VBat',
                        //backgroundColor:"rgba(191,0,255,0.5)",
                        borderColor: "rgb(57,255,20)",
                        pointBackgroundColor: "#880085",
                        borderWidth: 1.5,
                        yAxisID: 'yaxis2',
                        data: [],
                        fill: "false",
                        pointStyle: 'line'
                    }
                ]
            },
            options: {
                legend: {
                    display: true,
                    align: 'center',
                    labels: {
                        usePointStyle: true,
                        boxWidth: 10,
                        fontColor: '#fff',
                        lineCap: 'butt',
                    }
                },
                responsive: true,
                elements: {
                    point: {
                        radius: 1
                    }
                },
                tooltips: {
                    mode: 'interpolate',
                    intersect: false
                },
                plugins: {
                    crosshair: {
                        line: {
                            color: '#F66',        // crosshair line color
                            width: 1,             // crosshair line width
                            dashPattern: [5, 5]   // crosshair line dash pattern
                        },
                        sync: {
                            enabled: false,            // enable trace line syncing with other charts
                            group: 1,                 // chart group
                            suppressTooltips: false   // suppress tooltips when showing a synced tracer
                        },
                        zoom: {
                            enabled: true,                                      // enable zooming
                            zoomboxBackgroundColor: 'rgba(66,133,244,0.2)',     // background color of zoom box
                            zoomboxBorderColor: '#48F',                         // border color of zoom box
                            zoomButtonText: 'Reset Zoom',                       // reset zoom button text
                            zoomButtonClass: 'reset-zoom',                      // reset zoom button class
                        },
                        callbacks: {
                            beforeZoom: function (start, end) {

                                console.log(start + " " + end)// called before zoom, return false to prevent zoom
                                return true;
                            },
                            afterZoom: function (start, end) {
                                if (archive) {
                                    chart.data.datasets[0].data = Zoomobj.Vin
                                    chart.data.datasets[1].data = Zoomobj.Vbat
                                }

                            }

                        }
                    }
                },
                scales: {
                    xAxes: [{
                        gridLines: {color: "#696969"},
                        type: 'time',
                        distribution: 'linear',
                        time: {
                            displayFormats: {
                                hour: "MMM D ha"

                            }
                        },
                        ticks: {
                            fontColor: "white",
                            maxTicksLimit: 12
                        }
                    }],
                    yAxes: [
                        {
                            id: 'yaxis1',
                            gridLines: {color: "#696969"},
                            ticks: {
                                fontColor: "white"
                            }
                        },
                        {
                            id: 'yaxis2',
                            position: 'right',
                            gridLines: {color: "#696969"},
                            ticks: {
                                fontColor: "white"
                            }
                        }]
                }
            },
        });

        function search(Result) {
            chart.data.datasets[0].data = Result.Vin
            chart.data.datasets[1].data = Result.Vbat
            chart.data.labels = Result.labels
            chart.update()
        }


        function addData(data1) {
            chart.data.labels.push(data1.time)
            chart.data.datasets[0].data.push(data1.vin)
            chart.data.datasets[1].data.push(data1.vbat)
            chart.update()
        }

        function removedata() {
            chart.data.datasets[0].data.shift()
            chart.data.labels.shift()
            chart.data.datasets[1].data.shift()
            chart.update()
        }


        var oldrno = -1;
        var clr = 0
        var VIN
        var VBAT
        var TIME

        function livedata() {
            $.ajax({
                method: "GET",
                url: 'api/data/live',
                success: function (data) {
                    if (data.data[1].rno !== oldrno) {
                        addData(data.data[1]);
                        addData1(data.data[1]);
                        VIN = data.data[1].vin
                        VBAT = data.data[1].vbat
                        TIME = data.data[1].time
                        oldrno = data.data[1].rno;
                    }
                    if (chart.data.labels.length >= 30) {
                        removedata();
                        removedata1()
                    }
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                }
            })
        }

        var Zoomobj = undefined

        function get_archive_data() {
            console.log($("#fromdata").val() + " " + $("#todata").val())
            $.ajax({
                method: "POST",
                url: "api/data/archive",
                async: true,
                data: {'csrfmiddlewaretoken': csrftoken, 'from': $("#fromdata").val(), 'to': $("#todata").val()},
                success: function (result, status, xhr) {
                    clearInterval(clr)
                    archive = true
                    search(result)
                    search1(result)
                    Zoomobj = result

                },
                error: function (error_data) {
                    console.log("error")
                    alert("error")
                    console.log(error_data)
                }
            })
        }


        function start() {
            console.log("start")
            var currentTime = new Date();
            console.log(currentTime)
            for (var i = 30; i >= 0; i--) {
                var time = new Date(currentTime - i * 1000);
                chart.data.labels.push(time)
                chart1.data.labels.push(time)
                chart.data.datasets[0].data.push(undefined)
                chart.data.datasets[1].data.push(undefined)
                chart1.data.datasets[0].data.push(undefined)
                chart1.data.datasets[1].data.push(undefined)

            }
            chart.update();
            chart1.update();
            clr = setInterval(livedata, 500);
        }

        function live() {
            chart.data.labels = []
            chart.data.datasets[0].data = []
            chart.data.datasets[1].data = []

        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        function converter(time) {
            var h = time.getHours();
            var m = time.getMinutes();
            var s = time.getSeconds();
            // add a zero in front of numbers<10
            h = checkTime(h);
            m = checkTime(m);
            s = checkTime(s);
            var time = h + ":" + m + ":" + s
            return time;
        }
    </script>
    <script>
        var ctx = document.getElementById('line-chart').getContext('2d');
        //document.getElementById('line-chart').height = 100;
        var chart1 = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'APPD',
                    borderWidth: 1.5,
                    //backgroundColor:"rgba(255,79,0,0.5)",
                    borderColor: "rgb(255,103,0)",
                    yAxisID: 'yaxis1',
                    data: [],
                    fill: "false",
                    pointStyle: 'line'
                },
                    {
                        label: 'TP',
                        //backgroundColor:"rgba(191,0,255,0.5)",
                        borderColor: "rgb(57,255,20)",
                        pointBackgroundColor: "#880085",
                        borderWidth: 1.5,
                        yAxisID: 'yaxis2',
                        data: [],
                        fill: "false",
                        pointStyle: 'line'
                    }
                ]
            },
            options: {
                legend: {
                    display: true,
                    align: 'center',
                    labels: {
                        usePointStyle: true,
                        boxWidth: 10,
                        fontColor: '#fff',
                        lineCap: 'butt',
                    }
                },
                responsive: true,
                elements: {
                    point: {
                        radius: 1
                    }
                },
                tooltips: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                hour: "MMM D ha"

                            }
                        },
                        gridLines: {color: "#696969"},
                        ticks: {
                            fontColor: "white",
                            maxTicksLimit: 12,
                        }
                    }],
                    yAxes: [
                        {
                            id: 'yaxis1',
                            gridLines: {color: "#696969"},
                            ticks: {
                                fontColor: "white"
                            }
                        },
                        {
                            id: 'yaxis2',
                            position: 'right',
                            gridLines: {color: "#696969"},
                            ticks: {
                                fontColor: "white"
                            }
                        }]
                },
                plugins: {
                    crosshair: {
                        line: {
                            color: '#F66',        // crosshair line color
                            width: 1,             // crosshair line width
                            dashPattern: [5, 5]   // crosshair line dash pattern
                        },
                        sync: {
                            enabled: false,            // enable trace line syncing with other charts
                            group: 1,                 // chart group
                            suppressTooltips: false   // suppress tooltips when showing a synced tracer
                        },
                        zoom: {
                            enabled: true,                                      // enable zooming
                            zoomboxBackgroundColor: 'rgba(66,133,244,0.2)',     // background color of zoom box
                            zoomboxBorderColor: '#48F',                         // border color of zoom box
                            zoomButtonText: 'Reset Zoom',                       // reset zoom button text
                            zoomButtonClass: 'reset-zoom',                      // reset zoom button class
                        },
                        callbacks: {
                            beforeZoom: function (start, end) {

                                console.log(start + " " + end)// called before zoom, return false to prevent zoom
                                return true;
                            },
                            afterZoom: function (start, end) {
                                if (archive === true) {
                                    chart1.data.datasets[0].data = Zoomobj.appd
                                    chart1.data.datasets[1].data = Zoomobj.tp
                                }
                            }
                        }
                    }
                }
            }
        });

        function search1(Result1) {

            chart1.data.datasets[0].data = Result1.Appd
            chart1.data.datasets[1].data = Result1.Tp
            chart1.data.labels = Result1.labels
            chart1.update()

        }


        function addData1(data1) {
            chart1.data.labels.push(data1.time)
            chart1.data.datasets[0].data.push(data1.appd)
            chart1.data.datasets[1].data.push(data1.tp)
            chart1.update()
        }

        function removedata1() {
            chart1.data.datasets[0].data.shift()
            chart1.data.labels.shift()
            chart1.data.datasets[1].data.shift()
            chart1.update()
        }


        function live1() {
            chart1.data.labels = []
            chart1.data.datasets[0].data = []
            chart1.data.datasets[1].data = []
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        function converter(time) {
            var h = time.getHours();
            var m = time.getMinutes();
            var s = time.getSeconds();
            // add a zero in front of numbers<10
            h = checkTime(h);
            m = checkTime(m);
            s = checkTime(s);
            var time = h + ":" + m + ":" + s
            return time
        }
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg=="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
            });
        });
        $(function () {
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
            });
        });
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
    </script>
    <script>
        start()
    </script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>
    <script>
        var chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        function randomScalingFactor() {
            return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
        }

        function onRefresh(chart) {
            chart.config.data.datasets[0].data.push({
                x: TIME,
                y: VIN
            });
            chart.config.data.datasets[1].data.push({
                x: TIME,
                y: VBAT
            });
        }

        var color = Chart.helpers.color;
        var config = {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Dataset 1 (linear interpolation)',
                     yAxisID: 'yaxis1',
                    backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
                    borderColor: chartColors.red,
                    fill: false,
                    lineTension: 0,
                    borderDash: [8, 4],
                    data: []
                }, {
                    label: 'Dataset 2 (cubic interpolation)',
                     yAxisID: 'yaxis2',
                    backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                    borderColor: chartColors.blue,
                    fill: false,
                    cubicInterpolationMode: 'monotone',
                    data: []
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'realtime',
                        realtime: {
                            duration: 20000,
                            refresh: 1000,
                            delay: 2000,
                            onRefresh: onRefresh
                        },
                        gridLines: {color: "#696969"},
                        ticks: {
                            fontColor: "white",

                        }
                    }],
                    yAxes: [{
                        id: 'yaxis1',
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        },
                        gridLines: {color: "#696969"},
                        ticks: {
                            fontColor: "white"
                        }
                    },
                        {
                            id: 'yaxis2',
                             position:'right',
                            scaleLabel: {
                                display: true,
                                labelString: 'value'
                            },
                            gridLines: {color: "#696969"},
                            ticks: {
                                fontColor: "white"
                            }
                        },
                    ]
                },
                tooltips: {
                    mode: 'nearest',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: false
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('scatter-chart').getContext('2d');
            window.myChart = new Chart(ctx, config);
        };

    </script>
{% endblock javascripts %}