{#{% block title %} Forms {% endblock title %}#}
{##}
{#<!-- Specific CSS goes HERE  -->#}
{#{% block stylesheets %}#}
{##}
{#    <style>#}
{#        #loader {#}
{#            transition: all 0.3s ease-in-out;#}
{#            opacity: 1;#}
{#            visibility: visible;#}
{#            position: fixed;#}
{#            height: 100vh;#}
{#            width: 100%;#}
{#            background: #fff;#}
{#            z-index: 90000;#}
{#        }#}
{##}
{#        #loader.fadeOut {#}
{#            opacity: 0;#}
{#            visibility: hidden;#}
{#        }#}
{##}
{#        .spinner {#}
{#            width: 40px;#}
{#            height: 40px;#}
{#            position: absolute;#}
{#            top: calc(50% - 20px);#}
{#            left: calc(50% - 20px);#}
{#            background-color: #333;#}
{#            border-radius: 100%;#}
{#            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;#}
{#            animation: sk-scaleout 1.0s infinite ease-in-out;#}
{#        }#}
{##}
{#        @-webkit-keyframes sk-scaleout {#}
{#            0% {#}
{#                -webkit-transform: scale(0)#}
{#            }#}
{#            100% {#}
{#                -webkit-transform: scale(1.0);#}
{#                opacity: 0;#}
{#            }#}
{#        }#}
{##}
{#        @keyframes sk-scaleout {#}
{#            0% {#}
{#                -webkit-transform: scale(0);#}
{#                transform: scale(0);#}
{#            }#}
{#            100% {#}
{#                -webkit-transform: scale(1.0);#}
{#                transform: scale(1.0);#}
{#                opacity: 0;#}
{#            }#}
{#        }#}
{#    </style>#}
{#    <link href="/static/assets/style.css" rel="stylesheet">#}
{#{% endblock stylesheets %}#}
{#<main class="main-content" style="background-color:rgb(16,18,20);">#}
{#    <div id="mainContent">#}
{#        {% block content %}#}
{##}
{#            <div class="row gap-20 masonry pos-r">#}
{#                <div class="masonry-sizer col-md-6"></div>#}
{#                <div class="masonry-item col-md-6">#}
{#                    <div class="bgc-white p-20 bd">#}
{#                        <h6 class="c-grey-900">Basic Form</h6>#}
{#                        <div class="mT-30">#}
{#                            <form>#}
{#                                <div class="form-group">#}
{#                                    <label for="exampleInputEmail1">Email address</label>#}
{#                                    <input type="email" class="form-control" id="exampleInputEmail1"#}
{#                                           aria-describedby="emailHelp" placeholder="Enter email">#}
{#                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with#}
{#                                        anyone#}
{#                                        else.</small>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="exampleInputPassword1">Password</label>#}
{#                                    <input type="password" class="form-control" id="exampleInputPassword1"#}
{#                                           placeholder="Password">#}
{#                                </div>#}
{#                                <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15">#}
{#                                    <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">#}
{#                                    <label for="inputCall1" class="peers peer-greed js-sb ai-c">#}
{#                                        <span class="peer peer-greed">Call John for Dinner</span>#}
{#                                    </label>#}
{#                                </div>#}
{#                                <button type="submit" class="btn btn-primary">Submit</button>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="masonry-item col-md-6">#}
{#                    <div class="bgc-white p-20 bd">#}
{#                        <h6 class="c-grey-900">Complex Form Layout</h6>#}
{#                        <div class="mT-30">#}
{#                            <form>#}
{#                                <div class="form-row">#}
{#                                    <div class="form-group col-md-6">#}
{#                                        <label for="inputEmail4">Email</label>#}
{#                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-6">#}
{#                                        <label for="inputPassword4">Password</label>#}
{#                                        <input type="password" class="form-control" id="inputPassword4"#}
{#                                               placeholder="Password">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="inputAddress">Address</label>#}
{#                                    <input type="text" class="form-control" id="inputAddress"#}
{#                                           placeholder="1234 Main St">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label for="inputAddress2">Address 2</label>#}
{#                                    <input type="text" class="form-control" id="inputAddress2"#}
{#                                           placeholder="Apartment, studio, or floor">#}
{#                                </div>#}
{#                                <div class="form-row">#}
{#                                    <div class="form-group col-md-6">#}
{#                                        <label for="inputCity">City</label>#}
{#                                        <input type="text" class="form-control" id="inputCity">#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-4">#}
{#                                        <label for="inputState">State</label>#}
{#                                        <select id="inputState" class="form-control">#}
{#                                            <option selected="selected">Choose...</option>#}
{#                                            <option>...</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <div class="form-group col-md-2">#}
{#                                        <label for="inputZip">Zip</label>#}
{#                                        <input type="text" class="form-control" id="inputZip">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-row">#}
{#                                    <div class="form-group col-md-6">#}
{#                                        <label class="fw-500">Birthdate</label>#}
{#                                        <div class="timepicker-input input-icon form-group">#}
{#                                            <div class="input-group">#}
{#                                                <div class="input-group-addon bgc-white bd bdwR-0">#}
{#                                                    <i class="ti-calendar"></i>#}
{#                                                </div>#}
{#                                                <input type="text" class="form-control bdc-grey-200 start-date"#}
{#                                                       placeholder="Datepicker" data-provide="datepicker">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <div class="checkbox checkbox-circle checkbox-info peers ai-c">#}
{#                                        <input type="checkbox" id="inputCall2" name="inputCheckboxesCall" class="peer">#}
{#                                        <label for="inputCall2" class="peers peer-greed js-sb ai-c">#}
{#                                            <span class="peer peer-greed">Call John for Dinner</span>#}
{#                                        </label>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button type="submit" class="btn btn-primary">Sign in</button>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="masonry-item col-md-6">#}
{#                    <div class="bgc-white p-20 bd">#}
{#                        <h6 class="c-grey-900">Horizontal Form</h6>#}
{#                        <div class="mT-30">#}
{#                            <form>#}
{#                                <div class="form-group row">#}
{#                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>#}
{#                                    <div class="col-sm-10">#}
{#                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group row">#}
{#                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>#}
{#                                    <div class="col-sm-10">#}
{#                                        <input type="password" class="form-control" id="inputPassword3"#}
{#                                               placeholder="Password">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <fieldset class="form-group">#}
{#                                    <div class="row">#}
{#                                        <legend class="col-form-legend col-sm-2">Radios</legend>#}
{#                                        <div class="col-sm-10">#}
{#                                            <div class="form-check">#}
{#                                                <label class="form-check-label">#}
{#                                                    <input class="form-check-input" type="radio" name="gridRadios"#}
{#                                                           id="gridRadios1" value="option1" checked="checked">#}
{#                                                    Option one is this and that&mdash;be sure to include why it's great#}
{#                                                </label>#}
{#                                            </div>#}
{#                                            <div class="form-check">#}
{#                                                <label class="form-check-label">#}
{#                                                    <input class="form-check-input" type="radio" name="gridRadios"#}
{#                                                           id="gridRadios2" value="option2">#}
{#                                                    Option two can be something else and selecting it will deselect#}
{#                                                    option one#}
{#                                                </label>#}
{#                                            </div>#}
{#                                            <div class="form-check disabled">#}
{#                                                <label class="form-check-label">#}
{#                                                    <input class="form-check-input" type="radio" name="gridRadios"#}
{#                                                           id="gridRadios3" value="option3" disabled="disabled">#}
{#                                                    Option three is disabled#}
{#                                                </label>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </fieldset>#}
{#                                <div class="form-group row">#}
{#                                    <div class="col-sm-2">Checkbox</div>#}
{#                                    <div class="col-sm-10">#}
{#                                        <div class="form-check">#}
{#                                            <label class="form-check-label">#}
{#                                                <input class="form-check-input" type="checkbox"> Check me out#}
{#                                            </label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="form-group row">#}
{#                                    <div class="col-sm-10">#}
{#                                        <button type="submit" class="btn btn-primary">Sign in</button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="masonry-item col-md-6">#}
{#                    <div class="bgc-white p-20 bd">#}
{#                        <h6 class="c-grey-900">Disabled Forms</h6>#}
{#                        <div class="mT-30">#}
{#                            <form>#}
{#                                <fieldset disabled="disabled">#}
{#                                    <div class="form-group">#}
{#                                        <label for="disabledTextInput">Disabled input</label>#}
{#                                        <input type="text" id="disabledTextInput" class="form-control"#}
{#                                               placeholder="Disabled input">#}
{#                                    </div>#}
{#                                    <div class="form-group">#}
{#                                        <label for="disabledSelect">Disabled select menu</label>#}
{#                                        <select id="disabledSelect" class="form-control">#}
{#                                            <option>Disabled select</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                    <div class="form-check">#}
{#                                        <label class="form-check-label">#}
{#                                            <input class="form-check-input" type="checkbox"> Can't check this#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <button type="submit" class="btn btn-primary">Submit</button>#}
{#                                </fieldset>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="masonry-item col-md-6">#}
{#                    <div class="bgc-white p-20 bd">#}
{#                        <h6 class="c-grey-900">Validation</h6>#}
{#                        <div class="mT-30">#}
{#                            <form class="container" id="needs-validation" novalidate>#}
{#                                <div class="row">#}
{#                                    <div class="col-md-6 mb-3">#}
{#                                        <label for="validationCustom01">First name</label>#}
{#                                        <input type="text" class="form-control" id="validationCustom01"#}
{#                                               placeholder="First name"#}
{#                                               value="Mark" required>#}
{#                                    </div>#}
{#                                    <div class="col-md-6 mb-3">#}
{#                                        <label for="validationCustom02">Last name</label>#}
{#                                        <input type="text" class="form-control" id="validationCustom02"#}
{#                                               placeholder="Last name"#}
{#                                               value="Otto" required>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-md-6 mb-3">#}
{#                                        <label for="validationCustom03">City</label>#}
{#                                        <input type="text" class="form-control" id="validationCustom03"#}
{#                                               placeholder="City"#}
{#                                               required>#}
{#                                        <div class="invalid-feedback">#}
{#                                            Please provide a valid city.#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-3 mb-3">#}
{#                                        <label for="validationCustom04">State</label>#}
{#                                        <input type="text" class="form-control" id="validationCustom04"#}
{#                                               placeholder="State"#}
{#                                               required>#}
{#                                        <div class="invalid-feedback">#}
{#                                            Please provide a valid state.#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-3 mb-3">#}
{#                                        <label for="validationCustom05">Zip</label>#}
{#                                        <input type="text" class="form-control" id="validationCustom05"#}
{#                                               placeholder="Zip"#}
{#                                               required>#}
{#                                        <div class="invalid-feedback">#}
{#                                            Please provide a valid zip.#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="btn btn-primary" type="submit">Submit form</button>#}
{#                            </form>#}
{#                            <script>#}
{#                                // Example starter JavaScript for disabling form submissions if there are invalid fields#}
{#                                (function () {#}
{#                                    'use strict';#}
{##}
{#                                    window.addEventListener('load', function () {#}
{#                                        var form = document.getElementById('needs-validation');#}
{#                                        form.addEventListener('submit', function (event) {#}
{#                                            if (form.checkValidity() === false) {#}
{#                                                event.preventDefault();#}
{#                                                event.stopPropagation();#}
{#                                            }#}
{#                                            form.classList.add('was-validated');#}
{#                                        }, false);#}
{#                                    }, false);#}
{#                                })();#}
{#                            </script>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        {% endblock content %}#}
{#    </div>#}
{##}
{#    <!-- Specific Page JS goes HERE  -->#}
{#    {% block javascripts %}#}
{#        <script type="text/javascript" src="/static/assets/vendor.js"></script>#}
{#        <script type="text/javascript" src="/static/assets/bundle.js"></script>#}
{#    {% endblock javascripts %}#}
<style>

    /* Latest compiled and minified CSS included as External Resource*/

    /* Optional theme */

    /*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/
    body {
        margin-top: 30px;
    }

    .stepwizard-step p {
        margin-top: 0px;
        color: #666;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        /*opacity: 1 !important;
        filter: alpha(opacity=100) !important;*/
    }

    .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
        opacity: 1 !important;
        color: #bbb;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-success').addClass('btn-default');
                $item.addClass('btn-success');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-success').trigger('click');
    });
</script>
<!------ Include the above in your HEAD tag ---------->
<div class="container" style="margin-top: 50px">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-4">
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>Driver Details</small></p>
            </div>
            <div class="stepwizard-step col-xs-4">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Vehicle Details</small></p>
            </div>
            <div class="stepwizard-step col-xs-4">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p><small>Device Details</small></p>
            </div>
            {#            <div class="stepwizard-step col-xs-3">#}
            {#                <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>#}
            {#                <p><small>Cargo</small></p>#}
            {#            </div>#}
        </div>
    </div>
    <form role="form" method="post" action="{% url 'formspage' %}">
        {% csrf_token %}
        <input maxlength="100" name="owner_id" type="hidden" value="{{ user.id }}"/>
        <div class="panel panel-primary setup-content" id="step-1">
            <div class="panel-heading">
                <h3 class="panel-title">Driver Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input maxlength="100" type="text" required="required" name="first_name" class="form-control"
                           placeholder="Enter First Name"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input maxlength="100" type="text" required="required" name="last_name" class="form-control"
                           placeholder="Enter Last Name"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Email Address</label>
                    <input maxlength="100" type="text" required="required" name="email" class="form-control"
                           placeholder="Enter Email Address"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    <input maxlength="100" type="text" required="required" name="phone" class="form-control"
                           placeholder="Enter Phone Number"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Driver Licence</label>
                    <input maxlength="100" type="text" required="required" name="license" class="form-control"
                           placeholder="Enter Licence Number"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Aadhar Card</label>
                    <input maxlength="100" type="text" required="required" name="aadhar" class="form-control"
                           placeholder="Enter Aadhar Card Number"/>
                </div>
                <div class="form-group">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <input type="file" class="custom-file-input" id="customFile" name="photo">
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-heading">
                <h3 class="panel-title">Vehicle Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Make</label>
                    <input maxlength="200" type="text" required="required" name="make" class="form-control"
                           placeholder="Enter Brand of Vehicle"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <input maxlength="200" type="text" required="required" name="model" class="form-control"
                           placeholder="Enter Model of Vehicle"/>
                </div>
                <div class="form-group">
                    <label class="control-label">License Plate</label>
                    <input maxlength="200" type="text" required="required" name="license_plate" class="form-control"
                           placeholder="Enter License Plate Number"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Color</label>
                    <input type="color" id="color" name="color" value="#fff">
                </div>
                <div class="form-group">
                    <label class="control-label">Fuel Type</label>
                    <input maxlength="200" type="text" required="required" name="fuel_type" class="form-control"
                           placeholder="Enter FuelType of Vehicle"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Automatic</label>&nbsp;
                    <input type='checkbox' name="automatic"/>
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-heading">
                <h3 class="panel-title">Device Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Device id</label>
                    <input maxlength="200" type="text" required="required" name="device_id" class="form-control"
                           placeholder="Enter Device ID"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Device Parameters</label>
                    <input maxlength="500" type="text" required="required" name="device_parameters" class="form-control"
                           placeholder="Enter All Parameters sequentially Separated By Comma"/>
                </div>
                <button class="btn btn-success pull-right" type="submit">Finish!</button>
            </div>
        </div>

        {#        <div class="panel panel-primary setup-content" id="step-4">#}
        {#            <div class="panel-heading">#}
        {#                <h3 class="panel-title">Cargo</h3>#}
        {#            </div>#}
        {#            <div class="panel-body">#}
        {#                <div class="form-group">#}
        {#                    <label class="control-label">Company Name</label>#}
        {#                    <input maxlength="200" type="text" required="required" class="form-control"#}
        {#                           placeholder="Enter Company Name"/>#}
        {#                </div>#}
        {#                <div class="form-group">#}
        {#                    <label class="control-label">Company Address</label>#}
        {#                    <input maxlength="200" type="text" required="required" class="form-control"#}
        {#                           placeholder="Enter Company Address"/>#}
        {#                </div>#}
        {#                <button class="btn btn-success pull-right" type="submit">Finish!</button>#}
        {#            </div>#}
        {#        </div>#}
    </form>
</div>
